<h1>Index: design in the time of corona</h1>
<div class="transitions-enabled" id="designs">
  <% @designs.each do |design| %>
    <div class="box panel panel-default">
      <%= link_to cl_image_tag(design.photo.key, :width=>350, :crop=>"scale", :radius => 8), design_path(design) %>
<!--         <div class="panel-body">
          <h2><%= link_to design.title, design %></h2>
        </div> -->
    </div>
  <% end %>
</div>
