<h1>Index: Design in the Time of Corona</h1>

<% @designs.each do |design| %>
    <%= link_to cl_image_tag(design.photo.key), design_path(design) %>
    <h2><%= link_to design.title, design %></h2>
 <% end %>
