<div class="container" text-align="left">
<h1>in the time of Coronavirus, everybody is a designer.</h1>
  <body>The Covid-19 coronavirus forces everybody in 2020 to become a designer by adapting their lives to the global pandemic. This website collects and documents people’s creative approaches to dealing with the crisis.</body>
</div>
