.wrapper {
  width: 100%;
  height: auto;
  display: inline-block;
  margin: 24px auto;
  position: relative;
  clear: both;
  overflow: hidden;
}

.mediaDisplayContainer {
  // height: 100%;
  // width: 100%;
  padding: 24px 50px 24px 50px;
  // margin: auto;
  display: flex;
  flex-direction: row;
  background: linear-gradient(180deg,rgba(255,255,255,0) 0,#fff 100%),#F6F6F6;
}

.mediaContainer {
  width: auto;
  position: relative;
  margin: auto;
  height: auto;
}


.mediaContent {
  background: #fff;
  float: right;
  display: inline-block;
  max-width: 348px;
  padding: 0 24px;
  width: 100%;
  text-align: left;
  overflow-wrap: break-word;
}
